#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.ButtonStyle{
  margin-top: 10px;
  height: 40px;
  color: white;
  background-color: #4CAF50; /* Green */
  border-radius: 5px;
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.ButtonStyle:active{
  margin-top: 10px;
  height: 40px;
  color: white;
  border-radius: 5px;
  background: #000000; 
  opacity : 0.5;    //这里重要，就是通过这个透明度来设置
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}